<h1>Login Page</h1>

<form class="" action="/login" method="post">


<input type="text" name="username" placeholder="USERNAME">
<input type="password" name="password" placeholder="PASSWORD">
<button type="submit" name="button">SUBMIT</button>




</form>
